*, body {
    font-family: Roboto;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}

header {
    margin: 15px;
    text-align: center;
}

main {
    margin: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer {
    margin: 15px;
    margin-top: 5px;
}

.frame {
    border: 1px solid #345;
    border-radius: 2px;
    padding: 3px;
    width: min-content;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.pixel {
    border: 1px solid #abc;
    width: 8px;
    height: 8px;
    margin: 1px;
}

.pixel.filled {
    background-color: #345;
}

.pixel.head {
    background-color: #abc;
}

.pixel.food {
    background-color: #484;
}

.gameEnd {
    border: 1px solid #700 !important;
}

.gameEnd .pixel {
    border: 1px solid #C00 !important;
}

.gameEnd .pixel.filled {
    background-color: #700;
}

.gameEnd .pixel.head {
    background-color: #f00;
}

.gameEnd .pixel.food {
    background-color: #884;
}

.switch {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

label {
    font-weight: bold;
    min-width: 80px;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

#score {
    font-weight: bold;
}

.advice {
    text-align: center;
    margin: 5px;
}

.controls {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.controls button {
    margin: 10px;
    padding: 15px;
    font-size: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

a {
    text-decoration: none;
}
